# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER NOTEBOOK
# =========================
.ipynb_checkpoints/

# =========================
# DATA
# =========================
data/raw/
data/interim/
data/processed/
data/feature_store/

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/feature_store/.gitkeep

# =========================
# MODEL ARTIFACTS
# =========================
artifacts/models/*.pkl
artifacts/features/
artifacts/metrics/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db