# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
.env/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER NOTEBOOK
# =========================
.ipynb_checkpoints/

# =========================
# DATA (RAW / INTERIM / PROCESSED)
# =========================
data/raw/
data/interim/
data/processed/
data/feature_store/

# Keep folder structure
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/feature_store/.gitkeep

# =========================
# MODEL ARTIFACTS (IMPORTANT FIX)
# =========================
artifacts/
!artifacts/.gitkeep

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db