# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
.venv/
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# DATA
# =========================
data/raw/
data/interim/
data/processed/
data/feature_store/

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/feature_store/.gitkeep

# =========================
# MODEL ARTIFACTS
# =========================
artifacts/models/*.pkl
artifacts/features/
artifacts/metrics/

# Keep metadata
!artifacts/metadata/

# =========================
# LOGS
# =========================
logs/

# =========================
# STREAMLIT
# =========================
.streamlit/secrets.toml

# =========================
# TEST CACHE
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db